@page "/newadvert"
@using System.IO
@inject IJSRuntime jsRuntime
@inject IDataStore datastore
@inject User localUser
@inject IWebHostEnvironment environment
@inject NotificationService alert

<div class="row">
    <div class="card p-3" style="box-shadow: 0px 0px 5px silver inset; max-width: 1400px; overflow: -moz-hidden-unscrollable">
        <div class="card-header">
            <h4 class="card-title mb-0">Ad Campaign Setup</h4>
        </div><!-- end card header -->
        <div class="card-body">

            <EditForm Model="newCampaign" OnInvalidSubmit="OnInvalidCampaign" OnValidSubmit="PushCampaign">
                <div class="d-flex flex-column gap-5 flex-lg-row justify-content-between">
                    <div class="flex-fill">
                        <RadzenSteps Change="OnChange" SelectedIndex="selectedIndex">
                            <Steps>
                                <RadzenStepsItem Disabled="freezePrevious" Text="General Information">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="steparrow-gen-info-campaignname-input">Campaign Name</label>
                                                <input type="text" @bind-value="newCampaign.Name" class="form-control" id="steparrow-gen-info-campaignname-input" placeholder="Enter Campaign Name" required>
                                                <div class="invalid-feedback">Please Name your Campaign!</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="steparrow-gen-info-advertstyle-input">Advert Style</label>
                                                <select class="form-control" @bind=newCampaign.AdvertStyle id="steparrow-gen-info-advertstyle-input" data-choices name="choices-single-default">
                                                    <option value="">This is a placeholder</option>
                                                    <option value="BannerAd">Banner Ads</option>
                                                    <option value="PopupAd">Popup Ads</option>
                                                    <option value="TakeoverAd">Takeover Ads</option>
                                                    <option value="Redirects">Redirects</option>
                                                    <option value="SidebarAds">Sidebar Ads</option>
                                                    <option value="NativeAds">Native Ads</option>
                                                    <option value="StickyAds">Sticky Ads</option>
                                                    <option value="VideoAds">Video Ads</option>
                                                </select>
                                                <div class="invalid-feedback">Please select Advert Style!</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="steparrow-gen-info-username-input">Specify Tags</label>
                                                <input type="text" @bind-value=newCampaign.Tags class="form-control" id="steparrow-gen-info-username-input" placeholder="E.G recipe, news,cellphone, semiconductor" required>
                                                <div class="invalid-feedback">Please provide some tags!</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="steparrow-gen-info-username-input">Ad Safety Components</label>
                                                <RadzenDropDown @bind-Value=@newCampaign.SafetyComponents Data=@controls Multiple=true 
                                                    AllowClear=true Placeholder="Select products" Style="width: 100%; max-width: 400px;" />
                                                @code{
                                                    List<string> controls = new List<string>()
                                                    {
                                                        "Profanity",
                                                        "Biblical",
                                                        "GeneralAudience",
                                                        "Children Content",
                                                        "Violence",
                                                        "StrongLanguage",
                                                        "NSFW",
                                                        "LGBTQ",
                                                        "Substance",
                                                        "Nudity",
                                                        "Sex",
                                                        "Exorcism"
                                                    };
                                                }
                                                <div class="invalid-feedback">Please apply safety component(s)!</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="steparrow-gen-info-username-input">Payment Type</label>
                                                <select class="form-control" data-choices @bind=newCampaign.PaymentType name="choices-single-default" id="choices-single-default">
                                                    <option value="">Select a payment type</option>
                                                    <option value="Choice 1">Cost Per Click (CPC)</option>
                                                    <option value="Choice 1">Cost Per Ten Impressions (CPT)</option>
                                                </select>
                                                <div class="invalid-feedback">Please Choose Payment Type!</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="steparrow-gen-info-username-input">Target Sites</label>
                                                <RadzenDropDown @bind-Value=@newCampaign.TargetSites Data=@targetSites AllowClear=true  Multiple="true"
                                                    Placeholder="Select products" Style="width: 100%; max-width: 400px;" />
                                                @code{
                                                    List<string> targetSites = new List<string>()
                                                    {
                                                        "Any",
                                                        "Gaming",
                                                        "Sports",
                                                        "Bible",
                                                        "Blogs",
                                                        "News",
                                                        "Retail",
                                                        "Adult",
                                                        "VideoStreaming",
                                                        "E-Learning",
                                                        "Social",
                                                        "Other",
                                                    };
                                                }
                                                <div class="invalid-feedback">Please select target site(s)!</div>
                                            </div>
                                        </div>
                                        <style>
                                            .has-display-anim{
                                                display: none;
                                                transition: display 2s;
                                            }
                                        </style>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <div class="form-check form-switch form-switch-custom form-switch-success">
                                                    <input class="form-check-input" @bind-value=newCampaign.DailyBudgetSet type="checkbox" role="switch" id="SwitchCheck11">
                                                    <label class="form-check-label" for="SwitchCheck11">Use a daily budget</label>
                                                </div>
                                                <div class="@(newCampaign.DailyBudgetSet ? "d-block" : "d-none") d-flex gap-3 align-items-center ps-2">
                                                    <RadzenSlider @bind-Value=@newCampaign.DailyBudget TValue="int" Min="1" Max="100" />
                                                    <span class="example-val mt-2">@newCampaign.DailyBudget</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 has-roll-anim">
                                            <div class="mb-3">
                                                <div class="form-check form-switch form-switch-custom form-switch-success">
                                                    <input class="form-check-input" @bind-value=@newCampaign.MaximumDailyImpressionsSet type="checkbox" role="switch" id="SwitchCheck11">
                                                    <label class="form-check-label" for="SwitchCheck11">Set Maximum Daily Impressions</label>
                                                </div>
                                                <div class="@(newCampaign.MaximumDailyImpressionsSet ? "d-block" : "d-none") d-flex gap-3 align-items-center ps-2">
                                                    <RadzenSlider @bind-Value=@newCampaign.MaximumDailyImpressions TValue="int" Min="1" Max="100" />
                                                    <span class="example-val mt-2">@newCampaign.MaximumDailyImpressions</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 has-roll-anim">
                                            <div class="mb-3">
                                                <div class="form-check form-switch form-switch-custom form-switch-success">
                                                    <input class="form-check-input" @bind-value=@newCampaign.MaxBiddingAmountSet type="checkbox" role="switch" id="SwitchCheck11">
                                                    <label class="form-check-label" for="SwitchCheck11">Set Max Bidding Amount For Ad Space</label>
                                                </div>
                                                <div class="@(newCampaign.MaxBiddingAmountSet ? "d-block" : "d-none") d-flex gap-3 align-items-center ps-2">
                                                    <RadzenSlider @bind-Value=@newCampaign.MaxBiddingAmount TValue="int" Min="1" Max="100" />
                                                    <span class="example-val mt-2">@newCampaign.MaxBiddingAmount</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </RadzenStepsItem>
                                <RadzenStepsItem Text="Ad Creative">
                                    <div>
                                        <div class="mb-3 d-flex flex-column">
                                            <label class="form-label" for="steparrow-gen-info-username-input">Orientation</label>
                                            <RadzenDropDown @bind-Value=@newCampaign.Orientation Data=@orientations AllowClear=true Placeholder="Select products" 
                                                Change="AdOrientationChange" Style="width: 100%; max-width: 400px;" />
                                                @code{
                                                    List<string> orientations = new List<string>()
                                                    {
                                                        "Box",
                                                        "Vertical",
                                                        "Horizontal",
                                                    };
                                                }
                                            <div class="invalid-feedback">Please select orientation!</div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="steparrow-gen-info-campaignname-input">Redirect Website</label>
                                            <RadzenTextBox Change=@(RedirectWebsiteChanged) class="w-100" aria-label="Default TextBox" />
                                            <div class="invalid-feedback">Please write a call to action!</div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="formFile" class="form-label">Image</label>
                                            <InputFile class="form-control" type="file" OnChange="OnFileChange"  id="formFile" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="steparrow-gen-info-campaignname-input">Heading</label>
                                            <InputText @bind-Value=newCampaign.AdCreative.Heading type="text" class="form-control" id="steparrow-gen-info-campaignname-input" placeholder="Get the most simplest html builder" />
                                            <div class="invalid-feedback">Please write a call to action!</div>
                                        </div>
                                        <div>
                                            <label class="form-label" for="des-info-description-input">Description</label>
                                            <InputTextArea @bind-Value=newCampaign.AdCreative.Description class="form-control" placeholder="Get 60% Off on a Life-Time Deal. 60days of Hassle free money-back guarantee." id="des-info-description-input" rows="3"></InputTextArea>
                                            <div class="invalid-feedback">Please enter a description</div>
                                        </div>
                                        <div class="d-flex justify-content-end mt-5">
                                            <RadzenButton ButtonType="ButtonType.Submit" Text="Submit" BusyText="Validating" />
                                        </div>
                                    </div>
                                </RadzenStepsItem>
                            </Steps>
                        </RadzenSteps>
                    </div>
                    <!-- end tab content -->
                    <div class="col-4 col-xl-6  p-2">
                        <div class="d-flex h-100 flex-column justify-content-start align-items-center" style="box-shadow: 0px 0px 5px silver inset">
                            <h4>Preview</h4>

                            <article class="p-2 overflow-hidden @(((newCampaign.Orientation!.Equals("Horizontal")) ? "d-flex gap-4" : ""))" style="border: 1px solid gray; height: @(newCampaign.AdCreative!.Height)px !important; width: @(newCampaign.AdCreative!.Width)px !important">
                                <div class="d-flex justify-content-center">
                                    <img src="@tempImagePath" 
                                        style="
                                            width: @((newCampaign.Orientation!.Equals("Vertical")) ? "100%" : "auto"); 
                                            height: @((newCampaign.Orientation.Equals("Vertical")) ? "auto" : $"{newCampaign.AdCreative.Height - 20}px");"
                                         alt="This is your ad display image" />
                                </div>
                                <div class="d-flex flex-column @(((newCampaign.Orientation!.Equals("Box")) ? "d-none" : ""))">
                                    <strong>@newCampaign.AdCreative.Heading</strong>
                                    <p>
                                        @newCampaign.AdCreative.Description
                                    </p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
        <!-- end card body -->
    </div>
    <!-- end card -->
</div>
<!-- end row -->
<div>
    .. GeneralAudience
</div>
@code {
    [SupplyParameterFromForm]
    public Campaign newCampaign { get; set; } = new Campaign()
    {
        Name = "",
        SafetyComponents = new List<string>(),
        TargetSites = new List<string>(),
        Orientation = "",
        AdCreative = new AdCreative()
        {
        },
    };
    string tempImagePath = "";
    private List<string> selectedOptions { get; set; } = new List<string>();
    private string selectedAdType { get; set; } = "GeneralAudience";
    int selectedIndex = 0;
    bool freezePrevious = false;
    int value = 1;
    int show = 100;
    public async void PushCampaign()
    {
        if (!IsWebsiteValid(newCampaign.AdvertLinkAddress!))
        {
            alert.Notify(NotificationSeverity.Error, $"Redirect Website should be valid");
            return;
        }
        if (string.IsNullOrEmpty(localUser.Email))
        {
            alert.Notify(NotificationSeverity.Error, "User Invaid. Redirecting to login");
            return;
        }
        var user = await datastore.GetUserAsync(localUser);

        newCampaign.UserId = user.Id;

        var result = await datastore.PostCampaignAsync(newCampaign, "wwwroot/Uploads/ad.jpg");

        if(result is not null)
        {
            
        }

        alert.Notify(NotificationSeverity.Success, "");
    }
    private bool IsWebsiteValid(string args)
    {
        try
        {
            var web = new HtmlWeb().Load(args);
            return true;
        }
        catch (Exception ex)
        {
            return false;
        }
    }
    public void RedirectWebsiteChanged(string args)
    {
        if (IsWebsiteValid(args))
        {
            alert.Notify(NotificationSeverity.Success, $"{args} passed!");
            newCampaign.AdvertLinkAddress = args;
            newCampaign.AdCreative.AdvertLinkAddress = args;
            return;
        }
        alert.Notify(NotificationSeverity.Error, "This Site is not accessible.");
    }
    public void OnChange(int index)
    {
        // if (string.IsNullOrEmpty(newCampaign.Name) |
        //     string.IsNullOrEmpty(newCampaign.AdvertStyle) |
        //     newCampaign.SafetyComponents!.Count() < 1 |
        //     newCampaign.TargetSites!.Count() < 1)
        // {
        //     alert.Notify(NotificationSeverity.Warning, "Please complete missing fields.");
        //     return;
        // }

        selectedIndex = 1;
        // freezePrevious = true;
    }
    public async Task OnFileChange(InputFileChangeEventArgs args)
    {
        var tempFileName = $"{Guid.NewGuid()}{System.IO.Path.GetExtension(args.File.Name)}";
        var uploadFolder = System.IO.Path.Combine(environment.WebRootPath, "Uploads");
        var tempFilePath = System.IO.Path.Combine(uploadFolder, tempFileName);

        // Create a new temporary file in the wwwroot directory
        using (var stream = new FileStream(tempFilePath, FileMode.Create))
        {
            await args.File.OpenReadStream().CopyToAsync(stream);
            tempImagePath = $"Uploads/{tempFileName}";
            var formFile = new FormFile(stream, 0, stream.Length, null, args.File.Name)
            {
                Headers = new HeaderDictionary(),
                ContentType = args.File.ContentType
            };
        }

        // Assuming 'alert' is an instance of some notification service.
        alert.Notify(NotificationSeverity.Info, tempFilePath);
    }
    public void OnInvalidCampaign()
    {
        alert.Notify(NotificationSeverity.Error, "Error");
    }
    public void AdOrientationChange()
    {
        if (newCampaign.Orientation!.Equals("Box"))
        {
            newCampaign.AdCreative!.Height = 400;
            newCampaign.AdCreative.Width = 400;
        }
        else if (newCampaign.Orientation.Equals("Vertical"))
        {
            newCampaign.AdCreative!.Height = 400;
            newCampaign.AdCreative.Width = 200;
        }
        else if (newCampaign.Orientation.Equals("Horizontal"))
        {
            newCampaign.AdCreative!.Height = 150;
            newCampaign.AdCreative.Width = 500;
        }
        StateHasChanged();
    }
}