@inject DialogService DialogService
@inject User localUser
@inject IDataStore dataStore

@code {
    async Task ShowDialogWithCustomCssClasses()
    {
        await DialogService.OpenAsync("Add a new Site", ds =>
    @<div>
        <AddSiteSteps />
    </div>
    , new DialogOptions()
    {
        CssClass = "",
        WrapperCssClass = "custom-dialog-wrapper-class",
        CloseDialogOnOverlayClick = false,
        Style = "width: 100%; height: 100%; padding: 70px;",
        ShowClose = true,
        CloseDialogOnEsc = false,
        AutoFocusFirstElement = true,
        Resizable = true,
    });
    }
}
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">Your Sites</h4>
        </div><!-- end card header -->

        <div class="card-body">
            <div class="row g-4 mb-3">
                <div class="col-sm-auto">
                    <div>
                        <a href="newadvert" class="btn btn-success add-btn"><i class="ri-add-line align-bottom me-1"></i> New Campaign</a>
                        <button class="btn btn-soft-danger"><i class="ri-delete-bin-2-line"></i></button>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-sm-end">
                        <div class="search-box ms-2">
                            <input type="text" class="form-control search" placeholder="Search...">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <RadzenDataGrid TItem="RegisteredWebsite" Data="@registeredWebsites">
                <EmptyTemplate>
                    <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;" class="@((progressVisible) ? "d-none" : "d-block")">No records to display.</p>
                    <div class="d-flex justify-content-center">
                        <RadzenProgressBarCircular Value="100" ShowValue="false" Visible="progressVisible" Mode="ProgressBarMode.Indeterminate" />
                    </div>
                </EmptyTemplate>
                <Columns>
                    <RadzenDataGridColumn TItem="RegisteredWebsite" Property="Id" Title="Sn" Width="50px" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="RegisteredWebsite" Property="Domain" Title="Name">
                        <Template Context="website">
                            <div>
                                <a href="site-dashboard" class="text-decoration-underline">@website.Domain</a>
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="RegisteredWebsite" Property="IsActive" Title="Ads Enabled">
                        <Template Context="website">
                            <div>
                                <RadzenSwitch @bind-Value=@website.AdsEnabled InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Switch value" }})" />
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="RegisteredWebsite" Property="ExcludedPages" Title="Excluded Pages">
                        <Template Context="website">
                            <div>
                                @website.ExcludedPages.Count()
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>

@code {
    string emptyText = "No Items to display!";
    static bool progressVisible = true;
    List<RegisteredWebsite>? registeredWebsites = new List<RegisteredWebsite>();
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            var user = await dataStore.GetUserAsync(localUser);
            if (user is not null)
            {
                localUser.Id = user.Id;
                registeredWebsites = await dataStore.GetSitesAsync(user.Id);
            }

            progressVisible = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            progressVisible = false;
        }

    }
}